.main-header {
  right: 0;
  align-items: center;
  background-color: #ffffff;
  display: flex;
  height: 64px;
  position: fixed;
  text-align: right;
  top: 0;
  width: 100%;

  a {
    padding: 3rem;
  }

  .spacer {
    background-color: #ffffff;
    flex: 1;
    height: 100%;
  }
}

@media (max-device-width: 568px) {
  .spacer {
    visibility: hidden;
  }
}
