.search-box {
  border-left: 1px solid $line-color;
  color: $less-dark;
  flex: 1;
  height: 100%;

  .fa-search {
    font-size: 24px;
    font-weight: 300;
    padding: 0 5px 0 0;
  }

  .search-input {
    border: none;
    color: inherit;
    flex: 1;
    font-size: 1.2rem;
    height: 100%;

    &:focus {
      outline: none;
      color: $dark;
    }
  }
}
