.search-box {
  align-items: center;
  border-left: 1px solid $line-color;
  color: $less-dark;
  display: flex;
  flex: 1;
  height: 100%;
  padding-left: 18px;


  .fa-search {
    font-size: 24px;
    font-weight: 300;
    padding: 0 5px 0 0;
  }

  .search-input {
    border: none;
    color: inherit;
    flex: 1;
    font-size: 2rem;
    height: 100%;
    padding: 10px;

    &:focus {
      outline: none;
      color: $dark;
    }
  }
}
@media (max-device-width: 568px){
  .select-container {
  padding: 20%;
  }
}
