.main-header{
  .selectContainer{
    visibility: hidden;
    width: 43em;
  }
}
#Navfix {
  margin: 0;
}
.mainMap{
  z-index: -1;
  opacity: 0.5;
//  width: 100%;
//  height: 100%;
  position: fixed;
  top: 3.5em;
  right: 0.01em;
  left: 0.01em;
  bottom: 0.01em;
}
.home-layout {
  padding-bottom: 3.2em;
  // min-height:
  .main-content {
    margin: 0 auto;
    min-width: 600px;
    width: 60%;

    .position{
      margin-left: 6em;
      position: fixed;
      top: 10em;
    }
    .tagline-text{
      font-size: 0.7em;
      position: relative;
      display: flex;
      .selectContainer{
        width: 0;
        height: 0;
        font-size: 0.5em;
        select{
          background-color: rgba(0, 0, 0, 0.32);
          color: white;
          margin: 1em;
          margin-top: 4em;
          padding-right: 2.5em;
          border-radius: 0.2em;
        }
        select:hover{
          transition-duration: 0.6s;
          color: $brand-color;
        }
      }
    }

    .main-search-wrapper {
      height: 150px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      padding: $spacing-unit1;

      .label {
        padding-left: 14px;
      }

      .search-group {
        align-items: center;
        display: flex;
        flex: 1;
        padding-right: 14px;

        button {
          background-color: $brand-color;
          border: none;
          border-radius: 5px;
          color: $light;
          font-size: 1.5rem;
          line-height: 2.5;
          padding: 0 $spacing-unit3;

          &:hover {
            background-color: $accent-color;
            box-shadow: 0px 0px 10px $dark;
          }
          &:focus {
            outline: none;
          }
        }

        .main-search {
          border: none;

          &:focus .search-input,
          .search-input:focus {
            border-bottom: 1px solid $brand-color
          }

          .fa-search {
            font-size: 2.5rem;
          }
          .search-input {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
  #useIdForHome{
    padding-left: 100px;  //changed here it was 50px
    pointer-events: all;
  }
  .tagline {
    pointer-events: none;
    width: 0px;
    height: 0px;
    position: relative;
    z-index: 0;
    font-size: 4rem;
    padding-bottom: 50px;

    // h1 {
    //   margin-left: -103px; //changed here it was nothing
    // }

    .brand {
      font-size: 1.5em;
      // margin-left: -0.5em;
      pointer-events: all;
      color: $brand-color;
      position: relative;
      font-weight: bold;
      z-index: 1;
    }
    .brand:hover {
      -webkit-animation:rainbow 2s ease-in infinite;
    }
    @-webkit-keyframes rainbow {
  0% {color: #ff0000;}
  10% {color: #ff8000;}
  20% {color: #ffff00;}
  30% {color: #80ff00;}
  40% {color: #00ff00;}
  50% {color: #00ff80;}
  60% {color: #00ffff;}
  70% {color: #0080ff;}
  80% {color: #0000ff;}
  90% {color: #8000ff;}
  100% {color: #ff0080;}
    }

    .tagline-text {
      font-weight: 300;
    }
  }
  .shows {
    overflow: hidden;
  }
  .shows figure {
    display: inline;
  }
  .show {
    padding-top: 100px;

    .show-title {
      padding-bottom: $spacing-unit1;
    }
     .show-items {
       overflow: scroll;
      flex-wrap: nowrap;
      list-style: none;
      margin: 0 -$spacing-unit-half;

      .show-item {
        padding: 0 $spacing-unit-half;
      }
     }
  }
  @media screen and (max-device-width:1070px){

  }
  @media screen and (max-device-width: 568px){
    .main-content{
      width: 80%;
    }
  }
}
/* Dropdown Button */
.dropbtn {
  margin-bottom: 0!important;
  text-align: center;
  padding: 0.7em;
    background-color: rgba(6, 6, 6, 0.45);
    pointer-events: all;
    margin: 5em;
    width: 17em;
    margin-top: 4em;
    color: white;
    font-size: 0.3em;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  max-height: 13em;
  overflow: auto;
  font-size: 0.3em;
  color: white;
  width: 17em;
  margin-left: 5em;
    display: none;
    position: absolute;
    background-color: rgba(6, 6, 6, 0.45);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    pointer-events: all;
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: rgba(6, 6, 6, 0.35);
}
