.main-header{
  .selectContainer{
    visibility: collapse;
  }
}
#Navfix {
  margin: 0;
}
.mainMap{
  z-index: -1;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 60px;
}
.home-layout {
  padding-bottom: 3.2em;
  // min-height:
  .main-content {
    margin: 0 auto;
    min-width: 600px;
    width: 60%;

    .position{
      position: fixed;
      top: 5em;
    }
    .tagline-text{
      position: relative;
      display: flex;
      .selectContainer{
        width: 0;
        height: 0;
        font-size: x-large;
        select{
          background-color: rgba(0, 0, 0, 0.32);
          color: white;
        }
      }
    }

    .main-search-wrapper {
      height: 150px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      padding: $spacing-unit1;

      .label {
        padding-left: 14px;
      }

      .search-group {
        align-items: center;
        display: flex;
        flex: 1;
        padding-right: 14px;

        button {
          background-color: $brand-color;
          border: none;
          border-radius: 5px;
          color: $light;
          font-size: 1.5rem;
          line-height: 2.5;
          padding: 0 $spacing-unit3;

          &:hover {
            background-color: $accent-color;
            box-shadow: 0px 0px 10px $dark;
          }
          &:focus {
            outline: none;
          }
        }

        .main-search {
          border: none;

          &:focus .search-input,
          .search-input:focus {
            border-bottom: 1px solid $brand-color
          }

          .fa-search {
            font-size: 2.5rem;
          }
          .search-input {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
  #useIdForHome{
    padding-left: 50px;
    pointer-events: all;
  }
  .tagline {
    pointer-events: none;
    width: 0px;
    height: 0px;
    position: relative;
    z-index: 0;
    font-size: 4rem;
    padding-bottom: 50px;

    .brand {
      pointer-events: all;
      color: $brand-color;
      position: relative;
      font-weight: bold;
      z-index: 1;
    }
    .brand:hover {
      -webkit-animation:rainbow 2s ease-in infinite;
    }
    @-webkit-keyframes rainbow {
  0% {color: #ff0000;}
  10% {color: #ff8000;}
  20% {color: #ffff00;}
  30% {color: #80ff00;}
  40% {color: #00ff00;}
  50% {color: #00ff80;}
  60% {color: #00ffff;}
  70% {color: #0080ff;}
  80% {color: #0000ff;}
  90% {color: #8000ff;}
  100% {color: #ff0080;}
    }

    .tagline-text {
      font-weight: 300;
    }
  }
  .shows {
    overflow: hidden;
  }
  .shows figure {
    display: inline;
  }
  .show {
    padding-top: 100px;

    .show-title {
      padding-bottom: $spacing-unit1;
    }
     .show-items {
       overflow: scroll;
      flex-wrap: nowrap;
      list-style: none;
      margin: 0 -$spacing-unit-half;

      .show-item {
        padding: 0 $spacing-unit-half;
      }
     }
  }
  @media screen and (max-device-width: 568px){
    .main-content{
      width: 80%;
    }
  }
}
//.text-slider{
//h2, * {
//  font-weight: 300;
//  font-family: "Roboto";
//}
//
//body {
//  width: 100vw;
//  height: 100vh;
//  background-image: url(https://hd.unsplash.com/photo-1465143192652-61c44e8449bd);
//  background-size: cover;
//  background-position: center;
//}
//
//section.text-slider, .text-slider {
//  padding: 0.33em 1em;
//  background: rgba(0, 0, 0, 0.5);
//  color: #FAFAFA;
//  position: absolute;
//  top: 55%;
//  left: 50%;
//  -webkit-transform: translate(-50%, -50%);
//          transform: translate(-50%, -50%);
//  min-height: 85px;
//  display: -webkit-box;
//  display: -ms-flexbox;
//  display: flex;
//  -webkit-box-align: center;
//      -ms-flex-align: center;
//          align-items: center;
//  -webkit-box-pack: center;
//      -ms-flex-pack: center;
//          justify-content: center;
//  margin: 0 auto;
//}
//@media (max-width: 500px) {
//  section.text-slider, .text-slider {
//    -webkit-box-orient: vertical;
//    -webkit-box-direction: normal;
//        -ms-flex-direction: column;
//            flex-direction: column;
//  }
//}
//section.text-slider__static, .text-slider__static {
//  display: block;
//  padding-right: 0.25ch;
//  margin: 0;
//}
//section.text-slider__dynamic, .text-slider__dynamic {
//  margin: 0;
//  height: 2em !important;
//  line-height: 2em;
//  text-transform: uppercase;
//  text-align: left;
//  overflow: hidden;
//  float: left;
//}
//@media (max-width: 500px) {
//  section.text-slider__dynamic, .text-slider__dynamic {
//    text-align: center;
//  }
//}
//section.text-slider .vertical-slider, .text-slider .vertical-slider {
//  margin: 0;
//  padding: 0;
//  overflow: hidden;
//}
//section.text-slider .vertical-slider__item, .text-slider .vertical-slider__item {
//  margin: 0;
//  padding: 0;
//  line-height: 1.25em;
//  overflow: hidden;
//  letter-spacing: 2px;
//  text-align: left;
//}
//section.text-slider .vertical-slider__item:nth-child(1), .text-slider .vertical-slider__item:nth-child(1) {
//  color: #64B5F6;
//}
//section.text-slider .vertical-slider__item:nth-child(2), .text-slider .vertical-slider__item:nth-child(2) {
//  color: #4dd0e1;
//}
//section.text-slider .vertical-slider__item:nth-child(3), .text-slider .vertical-slider__item:nth-child(3) {
//  color: #42bd41;
//}
//section.text-slider .vertical-slider__item:nth-child(4), .text-slider .vertical-slider__item:nth-child(4) {
//  color: #ffb74d;
//}
//}
//
