.main-header{
  .selectContainer{
    visibility: visible;
    width: auto;
  }
}
body {
  overflow-y: scroll;
}
.profile-layout {

  blockquote {
    border-left: none;
    font-size: 18px;
    line-height: 1.6;
    padding-left: $spacing-unit2;
    padding-right: $spacing-unit2;
  }
  .border-butt {
    border-bottom: 1px solid $line-color;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    // min-width: 600px;
    padding-top: 200px;
    // width: 66.7%;

    .profile-summaries {
      flex: none;
      padding: 0 $spacing-unit1;
      max-width: 400px;
      overflow: hidden;

      .image-wrapper {
        background-color: $line-color;
        height: 400px;
        width: 380px;
        text-align: center;
      }
      img {
        height: 100%;
        width: 100%;
      }

      .about {
        .head-wrapper {
          align-items: center;
          display: flex;

          i.fa {
            cursor: pointer;
            margin-left: auto;
            opacity: 0.5;
            transition: all 0.3s ease-in-out;

            &:hover {
              opacity: 1;
            }
          }

        }
        .subject-label {
          background-color: lighten($line-color, 20%);
          cursor: pointer;
          line-height: 1.5;
          margin: 2px;
          padding: 0 $spacing-unit1;

          &.picked {
            background-color: lighten($brand-color, 20%);
            box-shadow: 0px 0px 2px $dark;
            color: #ffffff;
          }
        }

        h2 {
          background-color: $light;
          border-bottom: $spacing-unit-half solid $accent-color;
          line-height: 2.5;
          padding: 0 $spacing-unit1;
        }

        .profile-summary {
          padding: 0 $spacing-unit-half;

          dt {
            color: $accent-color;
            font-size: 2rem;
            padding: $spacing-unit2 $spacing-unit-half 0;
          }

          dd {
            display: flex;
            flex-wrap: wrap;
            line-height: 2.5;
            padding: 0 $spacing-unit-half;

            input {
              border: none;
              border-bottom: 2px solid #eee;
              flex: 1;
              margin-left: auto;
              text-align: right;
              transition: all 0.3s ease-in-out;

              &:hover, &:focus {
                // border-left: 3px solid $brand-color;
                border-bottom: 2px solid $accent-color;
                outline: none;
              }
            }
          }
        }
      }
    }

    .profile-details {
      padding: 0 50px;
      max-width: 800px;
      min-width: 600px;
      h1 {
        font-size: 3rem;
      }

      h1, h3 {
        font-weight: normal;
        padding-bottom: $spacing-unit-half;
      }

      .quirky {
        padding-top: 50px;
        width: 100%;
      }

      .report {
        color: $less_dark;

        .fa {
          padding-right: 10px;
        }
      }

      #reviews {
        padding: $spacing-unit2;

        .new-review {
          padding: $spacing-unit1 0 $spacing-unit2;
          border-bottom: 1px solid $line-color;

          div {
            padding-bottom: $spacing-unit1
          }

          label {
            display: none;
          }

          #new-review-text {
            padding: $spacing-unit1;
            width: 100%;
          }

          button {
            background-color: $brand-color;
            border: none;
            color: $light;
            padding: $spacing-unit-half 0;
            text-align: center;
            width: 100%;

            &:visited {
              background-color: $line-color;
              color: $less_dark
            }
          }
        }
        .review-summary {
          border-bottom: 1px solid $line-color;
          font-style: italic;
          font-weight: normal;
          padding: $spacing-unit-half 0 $spacing-unit2;
        }

        .review {
          display: flex;
          padding: $spacing-unit3 $spacing-unit3 0;

          .reviewer {
            flex: none;
            padding-right: $spacing-unit3;
            text-align: right;

            .avatar {
              background-color: lighten($brand-color, 40%);
              border-radius: 35px;
              height: 70px;
              width: 70px;
            }

            .reviewer-name {
              color: $less_dark;
              padding-top: $spacing-unit-half;
              text-align: center;
              width: 70px;
            }
          }

          .review-text {
            border-bottom: 1px solid $line-color;
            flex: 1;
            padding-bottom: $spacing-unit2;

            footer {
              color: $less_dark;
              padding-top: $spacing-unit3;
            }
          }
        }
      }

      .react-tabs [role=tab][aria-selected=false]:hover {
        background-color: lighten($brand-color, 20%);
        border-radius: 5px 5px 0 0;
      }

      .react-tabs [role=tab][aria-selected=true] {
        background: $brand-color;
        border: none;
        color: #f4f4f4;
        // font-weight: bold;
      }
    }

    .row {
      align-items: flex-start;
      padding-bottom: 50px;
    }

    .rbc-row,
    .rbc-timeslot-group {
      display: flex;
    }

    .rbc-time-slot {
      background-color: $line-color;
      cursor: pointer;
      flex: 1;

      &.rbc-label {
        background-color: transparent;
        cursor: default;
        flex: none;
      }
    }
  }
}
