@import '../../../../styles/variables';
#messages {
  position: relative;

  .alert {
    padding: 10px 15px;
    position: absolute;
    top: -55px;
    width: 100%;
  }

  .container {
    min-height: 500px;
    max-height: 500px;
    max-width: 100%;
  }
  
  .not-loggedin {
    padding: 20px 200px;

    .login {
      color: $accent-color;
      font-weight: bold;
      line-height: 2.5;
    }   
  }
  input {
    font: 18px;
  }

  input[type="text"] {
    margin: 10px 0px;
    height: 60px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    color: $less-dark;
    width: 80%;
    border: 1px solid $line-color;
    padding: 0 20px;
    -webkit-transition: border-color 0.2s ease-in-out;
    -moz-transition: border-color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out;
  }

  input[type="text"]:focus {
    border: 1px solid #AF9570;
    outline: none !important;
  }

  .register,input[type="submit"] {
    background-color: $dark;
    color: white;
    border: none;
    position: relative;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    padding: 20px 80px;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
  }

  .register:hover,
  input[type="submit"]:hover {
    background-color: $accent-color;
  }
}