@import '../../../../styles/variables';
#messages,
#chat-root {
  #chat-app {
    background-color: white;
    border: 1px solid #e0e0e0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    // height: 600px;
    padding: 0;
    position: fixed;
    right: 0;
    width: 500px;

    -webkit-transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
    -moz-transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
    transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);

    &.minimize {
      bottom: -500px;
    }
  }

  .messages {
    overflow-y: scroll;
    overflow-x: hidden;
    flex: none;
    height: 400px;
    padding: 20px;
  }

  h3.header {
    cursor: pointer;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    border-bottom: 1px solid #ddd;
    background-color: #eee;
  }

  .chat-input {
    background-color: lighten($brand-color, 30%);
    position: relative;
    overflow: hidden;
    padding: 20px;
    flex-shrink: 0;
    font-size: 18px;
  }

  .chat-input input[type="text"] {
    height: 60px;
    width: 100%;
    padding: 0px 20px;
  }

  .message.from-me .username {
    display: none;
  }

  .message.from-me {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
  }

  .message.from-me .message-body {
    background-color: #af9570;
    color: white;
  }

  .message {
    margin-bottom: 20px;
  }
  .message-body {
    max-width: 80%;
    display: inline-block;
    padding: 20px;
    background-color: #eee;
    border: 1px;
    border-radius: 5px;
    padding-right: 50px;
  }

  .username {
    font-weight: bold;
    font-size: 0.9rem;
    color: #999;
    margin-bottom: 5px;
  }
}