@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");

html * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: white;
  color: $dark;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  overflow-y: scroll;

  a {
    color: inherit;
    text-decoration: none;
  }
  
  // Default style for select
  select {
    /* styling */
    background-color: white;
    // border: thin solid blue;
    // border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;

    /* reset */

    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  select {
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, transparent, transparent);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
  }

  select:focus {
    outline: 0;
  }


  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}

// Grid Layout
.row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  
  .half {
    flex: none;
    overflow: hidden;
    width: 50%;
  }

  .one-fourth {
    flex: none;
    overflow: hidden;
    width: 25%;

    &-with-gutter {
      padding: 0 9px;
    }
  }

  .gold-ratio-major {
    flex: 1.618;
  }

  .gold-ratio-minor {
    flex: 1;
  }

  .three-fifth {
    flex: 3;
  }

  .two-fifth {
    flex: 2;
  }

  .one-third {
    flex: 1;
  }

  .two-third {
    flex: 2;
    overflow: hidden;
  }
}

// Common classes
.z-index1 {
  box-shadow: 0px 0px 1px $dark;
  z-index: 1;
}
.z-index2 {
  box-shadow: 0px 0px 3px $dark;
  z-index: 2;
}
.z-index3 {
  box-shadow: 0px 0px 5px $dark;
  z-index: 3;
}
.z-index4 {
  box-shadow: 0px 0px 9px $dark;
  z-index: 4;
}