.main-nav {
  background-color: #ffffff;
  height: 100%;
  text-align: right;
  width: 100%;
}

#tuber-search-form {
  margin-top: 0.3em;
}

#logo {
  color: #F44336;
  text-decoration: none;
  margin-left: 0.5em;
  font-size: 2.5em;
  font-weight: bold;
}
