.tutor-registration-form, .student-registration-form, .login-form {
  padding: 4em;
}

.form-group {
  margin: 1em;
}

.tutor-reg-submit {
  width: 100%;
}

.reg-submit {
  width: 100%;
}

@import "../../../styles/variables.scss";

#tutor-reg-appt-select {

  table {
    display: flex;
    flex-flow: column;

    tr {
      display: flex;

      .selected {
        background-color: lighten($brand-color, 25%);
      }

      .timing {
        opacity: 0.6;

        &.all,
        &.all ~ td {
          background-color: $brand-color;
        }

        &.clear,
        &.clear ~ td {
          background-color: transparent;
        }
      }
      th, td {
        border: 0.5px solid $line-color;
        flex: 1;
        text-align: center;
      }

      td {
        cursor: pointer;
        height: 55px;
        vertical-align: top;
      }
    }
  }
}