body {
  overflow-y: hidden;
}
.search-result-layout {
  padding-top: 64px;

  .filters {
    border: 1px solid $line-color;
    height: 50px;
    width: 100%;

    select {
      border: none;
      border-right: 1px solid $line-color;
      height: 100%;
    }
  }

  .map, .results {
    bottom: 0;
    position: fixed;
    top: 114px;
  }

  .map {
    left: auto;
    right: 0;
    width: 40%;
  }

  .results {
    left: 0;
    right: auto;
    width: 60%;
    overflow-y: scroll;
    padding: $spacing-unit-half;

    .notices {
      height: 100px;
      padding: $spacing-unit1;
      width: 100%;
    }
    .result {
      padding: $spacing-unit1 $spacing-unit-half;
    }
  }

}
