body {
  overflow-y: hidden;
}
.card{
  display: flex;
  width: 100%;
  img{
    width: 50%;
    height: auto;
  }
  .figcaption{
    width: 50%;
    height: auto;
  }
  .rate{
    display: none;
  }
  .card-btn{
    font-size: 2rem;
  }
}
.search-result-layout {
  padding-top: 64px;

  .filters {
    position: fixed;
    z-index: -1;
    border: 1px solid $line-color;
    height: 50px;
    width: 100%;

    select {
      border: none;
      border-right: 1px solid $line-color;
      height: 100%;
    }
  }

  .map, .results {
    bottom: 0;
    position: fixed;
    top: 114px;
  }

  .map {
    position: fixed;
    z-index: -1;
    left: auto;
    right: 0;
    width: 40%;
  }

  .results {
    left: 0;
    right: auto;
    width: 60%;
    overflow-y: scroll;
    padding: $spacing-unit-half;

    .notices {
      text-align: center;
      height: 100px;
      padding: $spacing-unit1;
      width: 100%;
    }
    .result {
      padding: $spacing-unit1 $spacing-unit-half;
    }
  }
  @media screen and (max-device-width: 568px){
    .filters{
      position: absolute;
      z-index: -1;
    }
    .map{
      border-style: solid;
      border-color: red;
      border-width: medium;
      width: 100%;
      height: 30%;
      position: absolute;
      z-index: -1;
    }
    .three-fifth.results{
      top: 560px;
      width: 100%;
    }
    .card{
      width: 100%;
      max-height: 300px;
      height: auto;
      display: inline-flex;
    }
    }
}
